pdf/Azurill.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Chansey.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Crawdaunt.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Slaking.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Swinub.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Primeape.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Roselia.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Aipom.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Beautifly.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Chinchou.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Gligar.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ivysaur.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kingler.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Silcoon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ursaring.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Zubat.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Gengar.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Jirachi.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Meditite.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Whismur.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Magnemite.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sceptile.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Seadra.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wailord.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Spearow.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Umbreon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Armaldo.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Geodude.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Heracross.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lugia.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Metang.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Slakoth.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Venonat.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ledyba.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Slugma.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Swampert.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wooper.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nosepass.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pidgeotto.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Beedrill.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dragonite.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Feraligatr.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Hypno.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Milotic.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Miltank.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Skiploom.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sudowoodo.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Swalot.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Treecko.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wynaut.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Zigzagoon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Bayleef.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Linoone.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lunatone.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Magikarp.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Manectric.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Weedle.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Flaaffy.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Luvdisc.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Raticate.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Shedinja.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Stantler.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Charmander.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Claydol.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Grumpig.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Gyarados.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Poliwhirl.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Salamence.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Starmie.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wurmple.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Crobat.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Golbat.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Politoed.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Psyduck.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Slowking.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Togetic.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Zangoose.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Eevee.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Jynx.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lileep.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Plusle.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sharpedo.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Snubbull.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Regice.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dragonair.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Entei.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ho[[:space:]]Oh.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mudkip.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Natu.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Persian.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Cyndaquil.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Gloom.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kadabra.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Loudred.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Skitty.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Aron.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Charizard.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kabutops.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ninetales.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Poliwag.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Poochyena.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Banette.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Houndour.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sandshrew.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Tentacruel.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Weepinbell.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Arcanine.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kecleon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Marill.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Muk.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Relicanth.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Vigoroth.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Absol.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Golduck.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ludicolo.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Rayquaza.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sableye.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nidoqueen.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ninjask.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Abra.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Blastoise.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Castform.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dugtrio.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Gulpin.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Hitmontop.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Shiftry.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Torkoal.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kangaskhan.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Octillery.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pikachu.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Weezing.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Cloyster.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Drowzee.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Elekid.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lanturn.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Slowpoke.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Tauros.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Houndoom.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Oddish.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Phanpy.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Porygon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Raikou.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Remoraid.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Vibrava.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Xatu.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Farfetchd.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Hitmonlee.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Quilava.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Voltorb.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Swellow.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Totodile.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Alakazam.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Blissey.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mewtwo.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Rhyhorn.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Solrock.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sunkern.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mantine.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Omastar.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Slowbro.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ampharos.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Jolteon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Shellder.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Smeargle.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Trapinch.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Omanyte.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Squirtle.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Donphan.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dustox.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lairon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Latios.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mawile.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Metagross.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sunflora.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Unown.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pidgeot.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Regirock.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Aggron.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Combusken.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Corsola.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Hoothoot.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Machoke.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Moltres.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Shelgon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Victreebel.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Vulpix.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Chimecho.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Magneton.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Teddiursa.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Tentacool.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Diglett.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Hitmonchan.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Suicune.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dratini.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dunsparce.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Forretress.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lapras.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wigglytuff.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Delibird.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Igglybuff.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Magcargo.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Piloswine.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Porygon2.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Seedot.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Camerupt.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Jigglypuff.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nidoran[[:space:]]Female.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Numel.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nuzleaf.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Poliwrath.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Altaria.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Bellsprout.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Cradily.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kingdra.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Krabby.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Murkrow.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Taillow.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Flygon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mareep.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Raichu.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Rhydon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Scizor.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sneasel.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Bellossom.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Caterpie.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kyogre.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lombre.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Misdreavus.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Qwilfish.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Spheal.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Surskit.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Bagon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Clamperl.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Electabuzz.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Furret.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Minun.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pelipper.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Meganium.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pinsir.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Articuno.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Breloom.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Charmeleon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ditto.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Exeggutor.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Marowak.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nidorino.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Bulbasaur.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dewgong.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Flareon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Graveler.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Hoppip.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lotad.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Shroomish.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Exploud.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Gorebyss.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kirlia.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Latias.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mew.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pichu.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mightyena.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Rattata.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Clefable.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Clefairy.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Electrike.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Gastly.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Masquerain.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Meowth.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Smoochum.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Snorlax.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Quagsire.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Rapidash.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Beldum.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Electrode.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Glalie.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Koffing.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Machamp.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Marshtomp.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sandslash.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Vaporeon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Butterfree.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Carvanha.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Girafarig.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Zapdos.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Cleffa.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Feebas.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wobbuffet.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Shuckle.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Golem.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Horsea.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Noctowl.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Paras.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ponyta.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pupitar.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Exeggcute.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Jumpluff.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ralts.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Walrein.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Aerodactyl.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Corphish.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Duskull.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Medicham.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Snorunt.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Spinarak.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Goldeen.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Hariyama.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nincada.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sentret.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Torchic.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Blaziken.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Cacnea.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Granbull.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Magby.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Metapod.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Steelix.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Grimer.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kabuto.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Magmar.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Tyranitar.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wingull.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Baltoy.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Groudon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Tropius.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Venomoth.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Machop.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Spoink.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Tyrogue.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Yanma.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Onix.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Spinda.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Barboach.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Chikorita.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Growlithe.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Larvitar.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mankey.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Mr[[:space:]]Mime.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Volbeat.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Azumarill.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dodrio.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Gardevoir.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Shuppet.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Cacturne.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nidoking.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Tangela.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Typhlosion.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Vileplume.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Anorith.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Celebi.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Cubone.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Delcatty.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Swablu.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Grovyle.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Huntail.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Parasect.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pidgey.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Skarmory.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ariados.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Dusclops.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Pineco.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Registeel.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Seviper.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wailmer.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ekans.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Ledian.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Lickitung.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Venusaur.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Wartortle.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Arbok.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Croconaw.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Espeon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nidorina.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Sealeo.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Staryu.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Deoxys.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Doduo.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Seel.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Fearow.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Illumise.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Nidoran[[:space:]]Male.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Seaking.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Whiscash.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Cascoon.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Haunter.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Kakuna.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Makuhita.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Scyther.pdf filter=lfs diff=lfs merge=lfs -text
pdf/Togepi.pdf filter=lfs diff=lfs merge=lfs -text
data/avatar-customization.json filter=lfs diff=lfs merge=lfs -text
data/move.json filter=lfs diff=lfs merge=lfs -text
data/pokemon.json filter=lfs diff=lfs merge=lfs -text
data/type.json filter=lfs diff=lfs merge=lfs -text
